<label>Name</label>
<input type="text" name="name" value="<%= pizzas.name %>">
<label>Price</label>
<input type="text" name="price" value="<%= pizzas.price %>">
<label>Description</label>
<input type="text" name="description" value="<%= pizzas.description %>">