<div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h1 class="mt-5 text-center" >Edit Item !</h1>
            </div>
        </div>
<form action="/pizzas/<%= pizzas.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a class="btn btn-danger"href="/pizzas/<%= pizzas.id %>">Cancel</a>
  <button class="btn btn-success" type="submit">Update</button>
</form>