<header>
    <nav>
    <a href="/">Italian Restaurant</a>
    <ul>
        <li><a href="/pizzas">Pizzas</a></li>
        <li><a href="/pizzas/new">Add Pizzas</a></li>
        <li><a href="/sides">Sides</a></li>
        <li><a href="/sides/new">Add Sides</a></li>
    </ul>
    </nav>
</header>