<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">    <!-- stopping the error from mime type('text/html') -->
    <link href="css/italianRestaurant.css" rel="stylesheet" >
    <link  href="css/bootstrap.min.css" rel="stylesheet" >
    <title>Italian Restaurant</title>
    
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %> <!-- it will include every page in the body-->
</body>
</html>