
<h2>Menu</h2>
<div>
    <table>
        <th>
            <td>
                item
            </td>
            <td>
                price
            </td>
            <td>
                description
            </td>

</table>
</div>
<% pizza.forEach(pizza =>{ %>
  <table>
    <th> 
        <td> <%= pizza.name %></td>
        <td><%= pizza.price %> </td>
        <td><%= pizza.description %></td><br>
    </th>
  </table>

<%})%>


