
<h2>Menu</h2>
<% pizza.forEach(pizza =>{ %>
    <div><%= pizza.name %></div>
<%})%>
<br>
<% pizza.forEach(pizza =>{ %>
    <%= pizza.price %>
<%})%>
<br>
<% pizza.forEach(pizza =>{ %>
    <%= pizza.description %>
<%})%>
