html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 1px solid #999;
     padding: 0.5rem;
     text-align: left;
}
 th {
     font-weight: bold;
}
p {
  font-family: "Comic Sans MS", cursive, serif;
}
#myDIV {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {text-shadow: 10px 20px 30px rgba(1, 1, 8, 0.836);}
}