<div>
    <label>Name</label>
    <input type="text" name="name1" value="<%= side.name1 %>">
</div>
<div>
    <label>Price</label>
    <input type="text" name="price" value="<%= side.price %>">
</div>
<div>
    <label>Description</label>
    <input type="text" name="description" value="<%= side.description %>">
</div>