<h2>Search for Sides</h2>
<form action="/sides" method="GET">


<label>Name</label>
<input text="text" name="name1" value="<%= searchOptions1.name1 %>">
<button type="search">Search</button>
</form>
<br>
<br>
<% side.forEach(side =>{ %>
    <div><%= sides.name %></div>
<%})%>

